.box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box__quote {
    text-align: center;
}

.box__btn {
    padding: 5px 10px;
    background-color: #FF6F91;
    border: 2px solid #FFC75F;
    border-radius: 4px;
}

.box__btn:hover {
    background-color: #F9F871;
}